package info

const (
	// Version The application's version number, retrieved from the Makefile
	Version   = "##VERSION##"

	// BuildID Not yet used
	// BuildID   = "##BUILD_ID##"

	// BuildDate The time when this application was built
	BuildDate = "##BUILD_TIME##"

	// GitCommit The current git commit
	GitCommit = "##GIT_COMMIT##"
)
